body {
    background: #34495e;
    color: white;
    padding: 50px;
}
main{
	width:60%;
}

button {
	border: none;
	background:linear-gradient(rgba(256, 256, 256, 0.5), rgba(256, 256, 256, 0.5));
	color: white;
	border:8px double white;
	text-transform: uppercase;
	letter-spacing: 1px;
	width:240px;
	font-size:20px;
	font-weight: 500;
	line-height: 30px;
	display: block;
	padding: 10px;
	margin-bottom : 10px;
	box-shadow: #464646 0em 0em 0.2em;
	text-shadow: #464646 0em 0em 0.2em;
}

.deal{
	max-width:240px;
	height: 260px;
	margin:10px;
}

.bien{
	max-width:240px;
	margin:10px;
	height: 260px;
}

h2{
	color:black;
	font-size:80px;
	font-weight: 500;
}


button:hover{
	background-color: white;
	color: #282727;
	border: 8px double white;
	box-shadow: 0em 0em 0em;
	text-shadow:0em 0em 0em;
}

input[type=text ]{
	width: 240px;
	box-shadow: #464646 0em 0em 0.2em;
	margin : 10px;
	padding: 4px;
}